<h1><%= @genre.title %></h1>

<p>
  <%= create_pretty_text(@genre.description) %>
</p>
<div class="row">
  <div class="span3">
    <h3>Composers:</h3>
    <div class="table-responsive">
      <table class="table table-striped b-t text-sm">
        <tbody>
          <% @genre.composers.each do |e| %>
            <tr>
              <td><%= link_to e.name, e %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="span9">
    <h3>Pieces:</h3>
    <%= form_for @search, url: genre_path(@genre) do |f| %>
      <p>
        <%= f.label :name_contains, "Looking for a particular piece?" %>
        <%= f.text_field :name_contains %>
      </p>
      <p>
        <span class="button"><%= f.submit "Search" %></span>
        <%= link_to "Reset", genre_path(@genre) %>
      </p>
    <% end %>
    <%= render "pieces/pieces_list" %>
  </div>
</div>

<%= link_to 'Back', :back %>

