<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <div class='inner-item'>
        <%= image_tag("beach_background.jpg") %>
      </div>
    </div>
    <div class="item">
      <div class='inner-item'>
        <%= image_tag("beach_sunset.jpg") %>
      </div>
    </div>
    <div class="item">
      <div class='inner-item'>
        <%= image_tag("sound.jpg") %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span4">
      <h2><%= link_to "Web Developer", @web_developer %></h2>
        <%= link_to (image_tag @web_developer_image_url, class: "img-circle float-left"), @web_developer %>
        <p><%= @web_developer.my_story %></p>
        <p>
          <%= button_to "View details >>", @web_developer, class: 'btn float-left', method: :get %>
        </p>
    </div>
    <div class="span4">
      <h2><%= link_to "Soprano", @soprano %></h2>
        <%= link_to (image_tag @soprano_image_url, class: "img-circle float-left"), @soprano %>
        <p><%= @soprano.my_story %></p>
        <p>
          <%= button_to "View details >>", @soprano, class: 'btn float-left', method: :get %>
        </p>
    </div>
    <div class="span4">
      <h2><%= link_to "Flutist", @flutist %></h2>
        <%= link_to (image_tag @flutist_image_url, class: "img-circle float-left round-image"), @flutist %>
        <p><%= @flutist.my_story %></p>
        <p>
          <%= button_to "View details >>", @flutist, class: 'btn float-left', method: :get %>
        </p>
    </div>
  </div>
</div>

