<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <div class='inner-item'>
        <%= image_tag("beach_background.jpg") %>
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Creations</h1>
          <p class="lead">
            Hi!  Thanks for visiting my site.  3 flavors of creations!
          </p>
          <%= button_to "Contact me", contact_path, method: "get", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class='inner-item'>
        <%= image_tag("beach_sunset.jpg") %>
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Creations</h1>
          <p class="lead">
            Hi!  Thanks for visiting my site.  3 flavors of creations!
          </p>
          <%= button_to "Contact me", contact_path, method: "get", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <div class='inner-item'>
        <%= image_tag("sound.jpg") %>
      </div>
      <div class="container">
        <div class="carousel-caption">
          <h1>Creations</h1>
          <p class="lead">
            Hi!  Thanks for visiting my site.  3 flavors of creations!
          </p>
          <%= button_to "Contact me", contact_path, method: "get", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span4">
      <h2><%= link_to "Web Developer", @web_developer %></h2>
        <%= link_to (image_tag @web_developer_image_url, class: "img-circle float-left"), @web_developer %>
        <p><%= @web_developer.my_story %></p>
        <p>
          <%= button_to "View details >>", @web_developer, class: 'btn float-left' %>
        </p>
    </div>
    <div class="span4">
      <h2><%= link_to "Soprano", @soprano %></h2>
        <%= link_to (image_tag @soprano_image_url, class: "img-circle float-left"), @soprano %>
        <p><%= @soprano.my_story %></p>
        <p>
          <%= button_to "View details >>", @soprano, class: 'btn float-left' %>
        </p>
    </div>
    <div class="span4">
      <h2><%= link_to "Flutist", flutist_path %></h2>
        <%= link_to (image_tag "flute_player.jpg", class: "img-circle float-left", size: "150x150"), flutist_path %>
        <p>
          I have played the flute since I was 11 years old.  I played for many years with the Seattle Flute Society Flute choir but now focus mainly on small ensemble performances.  I can perform any genre of music but focus mainly on classical and baroque. I am available as a soloist or as part of an ensemble to perform at church services, weddings, funerals, or any other event you have in mind.
        </p>
        <p>
          <%= button_to "View details >>", flutist_path, method: "get", class: 'btn float-left' %>
        </p>
    </div>
  </div>
</div>

