<div class="container pages-body">
  <div class="row">
    <div class="span4 text-center">
      <%= link_to (image_tag "github_256.png", size: "100x100"),
       "https://github.com/ggriffis", target: "_blank" %>
      <h4>
        <%= link_to "github.com/ggriffis", "https://github.com/ggriffis", target: "_blank" %>
      </h4>
    </div>
    <div class="span4 text-center">
      <%= link_to (image_tag "linkedin_256.png", size: "100x100"), "http://www.linkedin.com/in/gingergriffis", target: "_blank" %>
      <h4>
        <%= link_to "www.linkedin.com/in/gingergriffis",
          "http://www.linkedin.com/in/gingergriffis", target: "_blank" %>
      </h4>
    </div>
    <div class="span4 text-center">
      <%= link_to (image_tag "tumblr_icon.png", size: "100x100"), "http://ginger-to-s.tumblr.com/",
          target: "_blank" %>
      <h4>
        <%= link_to "My Blog",
          "http://blog.gingergriffis.com/",
          target: "_blank" %>
      </h4>
    </div>
  </div><br><br>
  <div class="row">
    <div class="span4 text-center">
      <%= link_to (image_tag "iconResume.png", size: "100x100"), "https://docs.google.com/file/d/0B7102bvHqMvfSWhwNVVTU1c5SUU/edit?usp=sharingg",
          target: "_blank" %>
      <h4>
        <%= link_to "My Resume",
          "https://docs.google.com/file/d/0B7102bvHqMvfSWhwNVVTU1c5SUU/edit?usp=sharing",
          target: "_blank" %>
      </h4>
    </div>
  </div>
</div>
