<div class="row">
  <div class="span12 text-center">
    <h3><%= link_to "Contact me directly", new_inquiry_path %></h3>
  </div>
</div><br><br>
<div class="row">
  <div class="span4 text-center">
    <%= mail_to "GingerGriffis@hotmail.com", (image_tag "mylogo.png",
        class: "icon") %>
    <h4><%= mail_to "GingerGriffis@hotmail.com" %></h4>
  </div>
  <div class="span4 text-center">
    <%= link_to (image_tag @github_link.icon_file_name,
        class: "icon"),
     @github_link.url, target: "_blank" %>
    <h4>
      <%= link_to "github.com/ggriffis", @github_link.url, target: "_blank" %>
    </h4>
  </div>
  <div class="span4 text-center">
    <%= link_to (image_tag @linked_in_link.icon_file_name,
        class: "icon"), @linked_in_link.url, target: "_blank" %>
    <h4>
      <%= link_to "www.linkedin.com/in/gingergriffis",
        @linked_in_link.url, target: "_blank" %>
    </h4>
  </div>
</div><br><br>
<div class="row">
  <div class="span4 text-center">
    <%= link_to (image_tag @twitter_link.icon_file_name,
        class: "icon"), @twitter_link.url,
        target: "_blank" %>
    <h4>
      <%= link_to "@GingerGriffis",
        @twitter_link.url,
        target: "_blank" %>
    </h4>
  </div>
  <div class="span4 text-center">
    <%= link_to (image_tag @blog_link.icon_file_name,
        class: "icon"), @blog_link.url,
        target: "_blank" %>
    <h4>
      <%= link_to "My Blog",
        @blog_link.url,
        target: "_blank" %>
    </h4>
  </div>
  <div class="span4 text-center">
    <%= link_to (image_tag @resume_link.icon_file_name,
        class: "icon"), @resume_link.url,
        target: "_blank" %>
    <h4>
      <%= link_to "My Resume",
        @resume_link.url,
        target: "_blank" %>
    </h4>
  </div>
</div>

