<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){
    $('#video_url').embedly({
      query: { maxwidth: 350, wmode: 'transparent' },
      method: 'after',
      key: '454314ac5d2c4cfa990b5444d71874ef'
    });
    $('#video_url2').embedly({
      query: { maxwidth: 350, wmode: 'transparent' },
      method: 'after',
      key: '454314ac5d2c4cfa990b5444d71874ef'
    });
  });
</script>
<div class="row">
  <div class="span8">
    <%= link_to (image_tag @web_developer_image_url, class: "img-circle float-left"), @web_developer.main_image.image_url, target: "_blank" %>
    <p><%= @web_developer.my_story %></p>
    <p>
      <% @web_developer.web_developer_links.each do |e| %>
        <%= link_to (image_tag e.icon_file_name, class: "small-icon"),
          e.url, target: "_blank" %>
      <% end %>&nbsp&nbsp&nbsp&nbsp
      <%= link_to "Contact me directly", new_inquiry_path %>
      <b>|</b>&nbsp
      <%= link_to "Endorse me!", new_endorsement_path %>
    </p>
  </div>
  <div class="span4 text-center">
    <div class="boxed">
      <h4>Skills:</h4>
      <div class="bold-text"><%= @web_developer.skills %></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span8">
    <h3><%= link_to "Work Experience...", web_developer_jobs_path %></h3>
    <%= render "web_developer_jobs/jobs_form" %>
  </div>
  <div class="span4">
    <h3><%= link_to "Education/Training...", web_developer_trainings_path %></h3>
    <%= render "web_developer_trainings/trainings_form" %>
  </div>
</div>
<div class="row">
  <div class="span8">
    <h3><%= link_to "Projects...", web_developer_projects_path %></h3>
    <%= render "web_developer_projects/projects_form" %>
  </div>
  <div class="span4">
    <% if !@web_developer.web_developer_endorsements.empty? %>
      <h3><%= link_to "Endorsements...", web_developer_endorsements_path %></h3>
      <%= render "web_developer_endorsements/endorsements_form" %>
    <% end %>
  </div>
</div>
<% if @video_link1 %>
  <div class="row">
    <h3><%= link_to "Videos...", web_developer_videos_path %></h3>
    <div class="span6">
      <div id="video_url">
        <div class="col-md-8 boxed box-border">
          <h4 ><%= link_to @video_link1.title, @video_link1 %></h4>
          <%= link_to @video_link1.url, @video_link1.url %>
        </div>
      </div>
    </div>
    <% if @video_link2 %>
      <div class="span6">
        <div id="video_url2">
          <div class="col-md-8 boxed box-border">
            <h4><%= link_to @video_link2.title, @video_link2 %></h4>
            <%= link_to @video_link2.url, @video_link2.url %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
