<div class="row">
  <div class="span4">
    <h1><%= @gig.display_title %></h1>

    <p>
      <b>Description:</b>
      <%= @gig.description %>
    </p>

    <p>
      <b>Location:</b>
      <%= @gig.location %>
    </p>

    <p>
      <b>Address:</b>
      <%= @gig.address %>
    </p>

    <p>
      <b>Url:</b>
      <%= link_to @gig.url, @gig.url, target: "_blank" %>
    </p>

    <p>
      <b>Date:</b>
      <%= @gig.performance_date.strftime("%A, %B %-d, %Y") %>
    </p>

    <p>
      <b>Time:</b>
      <%= @gig.timeframe %>
    </p>

    <p>
      <b>Ticket Price:</b>
      <%= @gig.ticket_price %>
    </p>
  </div>
  <div class="span4">
    <% if @gig.gig_image %>
      <%= link_to (image_tag @gig.gig_image.image_url.to_s, class: "float-left"), @gig.gig_image.image_url.to_s, target: "_blank" %>
    <% end %>
  </div>
  <div class="span4">
    <% if @gig.program.present? %>
      <p>
        <div class="boxed program-box">
          <div class="box-border"><%= h(@gig.program).gsub(/\n/, '<br/>').html_safe %></div>
        </div>
      </p>
    <% end %>
  </div>
</div>
