<%= form_for @musician do |f| %>
  <div class="table-responsive">
    <table class="table table-striped b-t text-sm">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Address</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody>
        <% @gigs.each do |e| %>
          <tr>
            <td><%= if e.gig_image then (link_to (image_tag e.gig_image.image_url(:tiny).to_s), e) end %></td>
            <td><%= link_to e.display_title, e %></td>
            <td class="no_wrap_cell"><%= e.performance_date.strftime("%m-%d") %></td>
            <td class="no_wrap_cell"><%= e.timeframe %></td>
            <td><%= e.location %></td>
            <td><%= e.address %></td>
            <td><%= link_to "Event Url", e.url, target: "_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @past_gigs.present? %>
    <h1>Past Events</h2>
    <div class="table-responsive">
      <table class="table table-striped b-t text-sm">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Url</th>
          </tr>
        </thead>
        <tbody>
          <% @past_gigs.each do |e| %>
            <tr>
              <td><div class="table-image"><%= if e.gig_image then (link_to (image_tag e.gig_image.image_url(:tiny).to_s), e) end %></div></td>
              <td><%= link_to e.display_title, e %></td>
              <td class="no_wrap_cell"><%= e.performance_date.strftime("%m-%d-%Y") %></td>
              <td class="no_wrap_cell"><%= e.timeframe %></td>
              <td><%= e.location %></td>
              <td><%= link_to "Event Url", e.url, target: "_blank" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
